/* 
=================
Stylin' The Site
================= 

—----Elements within Body Styling ----- 
*/

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  color: #777;
  background-image: url('../images/congruent_outline.png');
}

* {
  box-sizing: border-box;
}

.background {
    background-color: white;
}
#header-1 {
    width: 270px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    background: #4aaaa5;
/*    padding-left:10px;
    padding-right:10px; */
}

#bio-image {
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
    float: left;
}

.icon-image {    
    width: 62px;
    height: 62px;
}

.icon-image:last-child {
    margin-right: 0;
}

.port-image {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.port-labels {
  position: relative;
  float: left;
  width: 254px;
  margin: 20px 20px 25px 0;
  overflow: auto;
}

.port-labels:nth-child(even) {
  margin-right: 40px;
}


#port-tags {
    background-color: #4aaaa5;
    text-align: center;
    font-size: 20px;
    color: white;
    width:100%;
    top: 144px;
    z-index: 1;
    position: absolute;
    padding: 5px 0;
}

footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #666;
  border-top: 8px solid #4aaaa5;
}




 /* —----Font Styling----- 
*/

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
}

#f-center{
    text-align: center;
}

a {
    text-decoration: none;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
}

h2,
h3 {
  font-size: 22px;
}

 /* 
—----List Styling----- 
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    color: #777777;
}


 /* 
